* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;

}

/**divs gerais */
.container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.clear {
    clear: both;
}

/****/

header {
    background-color: #d6d6d6;
    padding: 10px 2%;
}

.logo-1 {
    float: left;
    width: 150px;
    height: 60px;
    background-image: url('../imagens/logo1.png');
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

}

.logo-2 {
    float: right;
    width: 150px;
    height: 60px;
    background-image: url(../imagens/logo2.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: center;

}

@media screen and (max-width: 510px) {

    header {
        text-align: center;

    }

    .logo-1,
    .logo-2 {
        margin: 10px;
        display: inline-block;
        float: none;
    }
}